{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <script id="userData" type="application/json">
    {
        "id": "{{ user.employee_id }}",
        "name": "{{ user.get_full_name }}",
        "role": "{{ user.get_role_display }}",
        "access": "{% if user.role == 'admin' %}full{% else %}view{% endif %}"
    }
    </script>
    {% endif %}
    
    {% block content %}{% endblock %}
</body>
</html>